/* In your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root{
    --white-color: hsl(0, 0%, 100%);

    --slate300-color: hsl(212, 45%, 89%);
    --slate500-color: hsl(216, 15%, 48%);
    --slate900-color: hsl(218, 44%, 22%);
}
*{
    font-family: 'Outfit', sans-serif;
    margin: 0;
}
.title {
    font-weight: 700; /* Bold */
    color: var(--slate900-color);
    margin-bottom: 24px;
    flex-grow: 1;
}
.paragraph{
    color: var(--slate500-color);
    flex-grow: 1;
}
.img-qr{
    width: 100%;
    border-radius: 4%;
    margin-bottom: 24px;
    flex-grow: 1;
}
.text-qr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    flex-grow: 1;
}
p {
    font-weight: 400; /* Regular */
    font-size: 15;
}
.container{
    display: flex;
    
    justify-content: center;   
    align-items: center;
    height: 100vh;
}
.card{
    width: 320px;
    height: 500px;
    border-radius: 4%;
    text-align: center;
    background-color: var(--white-color);
    padding: 16px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-color: hsl(212, 45%, 89%);
}
footer{
    text-align: center;
}